"*":
  editor:
    invisibles: {}
    softWrap: true
    showInvisibles: true
    fontSize: 14
  core:
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  "exception-reporting":
    userId: "4d0c93ce-ebb6-34dd-65cf-677dc1b8a988"
  welcome:
    showOnStartup: false
