"*":
  "autoclose-html": {}
  "autocomplete-plus":
    navigateCompletions: "ctrl-p,ctrl-n"
  core:
    themes: [
      "seti-ui"
      "seti-monokai"
    ]
  editor:
    invisibles: {}
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "4d0c93ce-ebb6-34dd-65cf-677dc1b8a988"
  "japanese-wrap":
    characterWidth: {}
  welcome:
    showOnStartup: false
