# Ignore files

# Mac Emacs
Mac/.emacs.d/history
Mac/.emacs.d/request
Mac/.emacs.d/.lsp-session-v1
Mac/.emacs.d/cache/*
Mac/.emacs.d/.cache/*
Mac/.emacs.d/transient
Mac/.emacs.d/straight/*
!Mac/.emacs.d/straight/versions/
Mac/.emacs.d/straight/versions/*
!Mac/.emacs.d/straight/versions/default.el

# M2 Mac Emacs
M2-Mac/.emacs.d/history
M2-Mac/.emacs.d/request
M2-Mac/.emacs.d/.lsp-session-v1
M2-Mac/.emacs.d/cache/*
M2-Mac/.emacs.d/.cache/*
M2-Mac/.emacs.d/transient
M2-Mac/.emacs.d/straight/*
!M2-Mac/.emacs.d/straight/versions/
M2-Mac/.emacs.d/straight/versions/*
!M2-Mac/.emacs.d/straight/versions/default.el

# Arch Emacs
Arch/.emacs.d/history
Arch/.emacs.d/request
Arch/.emacs.d/.lsp-session-v1
Arch/.emacs.d/cache/*
Arch/.emacs.d/.cache/*
Arch/.emacs.d/transient
Arch/.emacs.d/straight/*
!Arch/.emacs.d/straight/versions/
Arch/.emacs.d/straight/versions/*
!Arch/.emacs.d/straight/versions/default.el

# Clojure
Mac/.lein/repl-history
