[user]
	name = Naoto Inoue
	email = dorapocket22@gmail.com
[credencial]
	helper = osxkeychain
[color]
	ui = auto
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	log-graph = log --oneline --graph --decorate --branches
	unstage = reset -q HEAD --
	discard = checkout --
	save = commit -m
	summary = status -u -s
	tags = tag
	branches = branch -a
	stashes = stash list
	unstash = stash pop
	remotes = remote -v
	prestage = diff -w --word-diff=color
	precommit = diff --cached -w --word-diff=color --word-diff-regex='[^[:space:]<>]+'
[push]
	default = simple
[core]
	pager = nkf -w | LESSCHARSET=utf-8 less
	excludesfile = /Users/iriya/.global_ignore
	precomposeunicode = true
	editor = vim
[secrets]
	providers = git secrets --aws-provider
	patterns = [A-Z0-9]{20}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
[url "git@github.com:"]
	insteadOf = https://github.com/
[ghq]
	root = /Users/iriya/.ghq
	root = /Users/iriya/.go/src
