[user]
	name = Naoto Inoue
	email = dorapocket22@gmail.com
[credencial]
	helper = osxkeychain
[color]
	ui = auto
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	log-graph = log --oneline --graph --decorate --branches
	unstage = reset -q HEAD --
	discard = checkout --
	save = commit -m
	summary = status -u -s
	tags = tag
	branches = branch -a
	stashes = stash list
	unstash = stash pop
	remotes = remote -v
	prestage = diff
	precommit = diff --cached
[push]
	default = simple
[pull]
	rebase = true
[core]
	pager = delta
	excludesfile = /Users/iriya/.global_ignore
	precomposeunicode = true
	editor = vim
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	side-by-side = true
	hunk-header-style = omit
	syntax-theme = TwoDark
[secrets]
	providers = git secrets --aws-provider
	patterns = [A-Z0-9]{20}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[ghq]
	root = /Users/iriya/.ghq
[init]
	defaultBranch = main
